<%= form_with(model: location, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if location.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :City_name %>
    <%= form.text_field :City_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, placeholder: "User_id", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Country_name %>
    <%= form.text_field :Country_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :When %>
    <%= form.date_field :When, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
