<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="mb-4">Locations</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>City</th>
        <th>Country</th>
        <th>Date</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>

      <% if location.user == current_user %>
        <tr>
          <td><%= link_to location.City_name, location %></td> 
          <td><%= location.Country_name %></td>
          <td><%= location.When %></td>
          <td><%= location.user_id %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New location", new_location_path, class: 'btn btn-primary' %>
</div>
